<nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-links-interno">
            <span class="navbar-toggler-icon"></span>
          </button>
  <a class="navbar-brand hidden-md-up" href="#">menu</a>
  <div class="navbar-collapse collapse" id="menu-links-interno">
    <div class="navbar-nav-vertical navbar-nav">
      <a class="nav-item nav-link active" href="#sobre-mim">about me</a>
      <a class="nav-item nav-link" href="#artigos">articles</a>
      <a class="nav-item nav-link" href="#contato">contact</a>
    </div>
  </div>
</nav>